html{
    scroll-behavior:smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Raleway";
    color: white;
    text-decoration: none;
}

body {
    background-color: rgb(15, 23, 42);
}

.pointer-events {
    position: absolute;
    top: 0;
    z-index: 30;
    inset: 0;
    transition-duration: 0.3s;
    pointer-events: none;
}

.container {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    padding: 0 170px;
}

.left-container {
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    height: 100vh;
    padding: 96px 0;
}

.information {
}

.name {
    font-size: 48px;
    line-height: 1;
    font-weight: bold;
}

.position {
    font-size: 20px;
    margin-top: 12px;
}

.description {
    max-width: 320px;
    line-height: 1.5;
    margin-top: 16px;
    color: rgb(148, 163, 184);
}

.menu {
    margin-top: 64px;
    display: flex;
    flex-direction: column;
}

.menu-item {
    width: fit-content;
}

.menu-title-wrapper {
    display: flex;
    padding: 12px 0;
    align-items: center;
    cursor: pointer;
}

.menu-title-wrapper:hover .line {
    background-color: white;
    width: 64px;
    transition: 0.2s;
}

.line {
    height: 1px;
    width: 32px;
    margin-right: 16px;
    background-color: rgb(148, 163, 184);
    transition: 0.2s;
}

.line-active {
    background-color: white;
    width: 64px;
    transition: 0.2s;
}

.menu-title-wrapper:hover .menu-title {
    color: white;
}

.menu-title {
    font-size: 12px;
    font-weight: bold;
    color: rgb(148, 163, 184);
}

.title-active {
    color: white;
}

.social-network {
    margin-left: 4px;
    margin-top: 32px;
    display: flex;
}

.icon {
    font-size: 24px;
    margin-right: 20px;
}

.icon i {
    color: rgb(148, 163, 184);
}

.icon:hover i {
    color: white;
}

.right-container {
    flex: 1;
    width: 100%;
    padding: 96px 0;
}

#about {
    margin-bottom: 144px;
}

#experience {
    margin-bottom: 144px;
}

#projects {
    margin-bottom: 432px;
}

.header-info {
    padding: 20px 24px;
    margin-bottom: 16px;
    font-size: 14px;
    font-weight: bold;
    display: none;
    background-color: rgba(15, 23, 42, .75);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
}

.about-content div {
    color: rgb(148, 163, 184);
    line-height: 1.625;
}

.about-content-1 {
    margin-bottom: 16px;
}

.about-content-2 {
    margin-bottom: 16px;
}

.about-content-3 {}

.experience-wrapper {

}

.experience-item {
    display: flex;
    margin-bottom: 48px;
    cursor: pointer;
    position: relative;
}

.experience-item:hover .experience-hover {
    display: block;
}

.experience-item:hover .experience-position {
    color: rgb(94 234 212);
}

.experience-hover {
    display: none;
    position: absolute;
    top: -24px;
    left: -24px;
    right: -24px;
    bottom: -24px;
    z-index: -1;
    border-radius: 8px;
    background-color: rgba(148, 163, 184, .1);
}

.experience-time {
    margin-right: 32px;
    flex: 2;
    font-weight: 600;
    font-size: 12px;
    color: rgb(100 116 139);
}

.experience-info {
    flex: 6;
}

.experience-position {
    line-height: 1.25;
    font-weight: 500;

}

.experience-contribute {
    margin-top: 8px;
    line-height: 1.5;
    font-size: 14;
    color: rgb(148, 163, 184);
}

.experience-tech-stacks {
    margin-top: 8px;
    display: flex;
    flex-wrap: wrap;
}

.experience-stack {
    margin-right: 6px;
    margin-top: 8px;
    padding: 4px 12px;
    border-radius: 9999px;
    color: rgb(94 234 212);
    font-weight: 500;
    line-height: 1.25;
    background-color: rgba(45, 212, 191, .1);
}

.view-full-resume {
    line-height: 1.25;
    font-weight: 600;
}

.view-full-resume:hover {
    color: rgb(94 234 212);
}

.project-image-wrapper {
    flex: 2;
    margin-right: 24px;
}
.project-image {
    width: 100%;
    border-radius: 4px;
}

@media screen and (max-width: 1023px) {
    .container {
        flex-direction: column;
        padding: 0 48px;
    }

    .menu {
        display: none;
    }

    .left-container {
        padding-top: 80px;
        padding-bottom: 0;
        position: relative;
    }

    #about {
        margin-bottom: 64px;
    }

    #experience {
        margin-bottom: 64px;
    }

    #projects {
        margin-bottom: 0;
    }

    .header-info {
        display: block;
        position: sticky;
        z-index: 20;
        top: 0;
        margin: 0 -24px;
    }

    .experience-item {
        flex-direction: column;
    }

    .experience-time {
        margin-top: 4px;
        margin-bottom: 8px;
    }

    .experience-item:hover .experience-hover {
        display: none;
    }

    .experience-item:hover .experience-position {
        color: white;
    }

    .project-item {
        flex-direction: column-reverse;
    }

    .project-image {
        width: 50%;
        margin-top: 8px;
    }
}

@media screen and (max-width: 767px) {
    .container {
        flex-direction: column;
        padding: 0 24px;
    }
}



